<h1>A Better Star Wars Holiday Special</h1>

<h2>Edit your Mad Lib story: <%=@starwar.title%></h2>

<form method="POST" action="/starwars/<%=@starwar.id%>">
    <input type="hidden" name="_method" value="PATCH">
<h4>Here's a chance to outdo your previous effort. Don't forget that you can always select "Fake It!"
and we'll provide a brilliant answer on your behalf.</h4><br>
    Title: <input type="text" name="starwars[title]" value="<%=@starwar.title%>"><br><br>
    Planet: <input type="text" name="starwars[planet_1]" value="<%=@starwar.planet_1%>"><br><br>
    Species: <input type="text" name="starwars[specie_1]" value="<%=@starwar.specie_1%>"><br><br>
    Verb, Past Tense: <input type="text" name="starwars[verb_1]" value="<%=@starwar.verb_1%>"><br><br>
    Noun: <input type="text" name="starwars[noun_1]" value="<%=@starwar.noun_1%>"><br><br>
    Species: <input type="text" name="starwars[specie_2]" value="<%=@starwar.specie_2%>"><br><br>
    Type of Vehicle: <input type="text" name="starwars[vehicle_1]" value="<%=@starwar.vehicle_1%>"><br><br>   
    Verb, Past Tense: <input type="text" name="starwars[verb_2]" value="<%=@starwar.verb_2%>"><br><br>
    Noun: <input type="text" name="starwars[noun_2]" value="<%=@starwar.noun_2%>"><br><br>
    Verb, Past Tense: <input type="text" name="starwars[verb_3]" value="<%=@starwar.verb_3%>"><br><br>
    Adjective: <input type="text" name="starwars[adjective_1]" value="<%=@starwar.adjective_1%>"><br><br>
    Type of Vehicle: <input type="text" name="starwars[vehicle_2]" value="<%=@starwar.vehicle_2%>"><br><br> 
    Number: <input type="text" name="starwars[number_1]" value="<%=@starwar.number_1%>"><br><br>
    Species: <input type="text"  name="starwars[specie_3]" value="<%=@starwar.specie_3%>"><br><br>
    Animal, Plural: <input type="text" name="starwars[animal_1]" value="<%=@starwar.animal_1%>"><br><br>
    Person's Name: <input type="text" name="starwars[name_1]" value="<%=@starwar.name_1%>"><br><br>
    Person's Name: <input type="text" name="starwars[name_2]" value="<%=@starwar.name_2%>"> <br><br>
    Character: <input type="text" ame="starwars[character_1]" value="<%=@starwar.character_1%>"><br><br>
    Character: <input type="text"  name="starwars[character_2]" value="<%=@starwar.character_2%>"><br><br>
    Character: <input type="text" name="starwars[character_3]" value="<%=@starwar.character_3%>"><br><br>
    Noun: <input type="text" name="starwars[noun_3" value="<%=@starwar.noun_3%>"><br><br>
    Adjective: <input type="text" name="starwars[adjective_2]" value="<%=@starwar.adjective_2%>"><br><br>
    Adjective: <input type="text" name="starwars[adjective_3]" value="<%=@starwar.adjective_3%>"><br><br>
    Noun: <input type="text" name="starwars[noun_4]" value="<%=@starwar.noun_4%>"><br><br>
    Adjective: <input type="text" name="starwars[adjective_4" value="<%=@starwar.adjective_4%>"><br><br>
    Verb, Present Tense: <input type="text" name="starwars[verb_4]" value="<%=@starwar.verb_4%>"><br><br>
    Type of Vehicle: <input type="starwars[text]"  name="starwars[vehicle_3]" value="<%=@starwar.vehicle_3%>"><br><br>
    Quote: <input type="text" name="starwars[quote_1]" value="<%=@starwar.quote_1%>"><br><br>
    <input type="submit" value="Recreate the Madness!">
</form>




