<h1>A Better Star Wars Holiday Special</h1>

<h2>Title: "<u><%=@starwar.title%></u>"</h2>
<h3><i>Story #<%=@starwar.id%>, Created by: <%= @starwar.user.username %></i></h3>

<p>'Twas the night before Christmas, when all through <u><%=@starwar.planet_1%></u>,<br>
Not a creature was stirring, not even a <u><%=@starwar.specie_1%></u>.<br>
The lightsabers were <u><%=@starwar.verb_1%></u> by the <u><%=@starwar.noun_1%></u> with care,<br>
In hopes that St. Yoda soon would be there.</p>

<p>The <u><%=@starwar.specie_2%></u> were nestled all snug in their beds,<br>
While visions of a Ewoks danced in their heads.<br>
And Han Solo in his Falcon, and I in my <u><%=@starwar.vehicle_1%></u>,<br>
Had just <u><%=@starwar.verb_2%></u> our brains for a long winter's <u><%=@starwar.noun_2%></u>.</p>

<p>When out in the swamp there arose such a clatter,<br>
I <u><%=@starwar.verb_3%></u> from my bunk to see what was the matter.<br>
When what to my <u><%=@starwar.adjective_1%></u> eyes did appear,<br>
But a miniature <u><%=@starwar.vehicle_2%></u> and <u><%=@starwar.number_1%></u> tiny <u><%=@starwar.specie_3%></u>!</p>

<p>With a little green driver so grumpy and old,<br>
I knew in a moment he was Yoda, as told.<br>
More rapid than <u><%=@starwar.animal_1%></u> his coursers they came,<br>
And he whistled, and shouted, and called them by name:</p>

<p>"Now, <u><%=@starwar.name_1%></u>! now, <u><%=@starwar.name_2%></u>! now <u><%=@starwar.character_1%></u> and <u><%=@starwar.character_2%></u>!<br>
On, Chewie! on, Boba! on, Lando and <u><%=@starwar.character_3%></u>!"<br>
As I drew in my <u><%=@starwar.noun_3%></u>, and was turning around,<br>
Down the chimney St. Yoda came with a frown.</p>

<p>His <u><%=@starwar.adjective_2%></u> green ears were sprawled out like wings,<br>
And the wrinkles in his skin were as <u><%=@starwar.adjective_3%></u> as <u><%=@starwar.noun_4%></u>;<br>
His light saber hung from his belt with great care,<br>
with a promise of the Force if we're worthy and <u><%=@starwar.adjective_4%></u>. </p>

<p>He spoke not a word as he erased Jar-Jar Binks,<br>
And slapped Luke for whining, faster than a blink.  <br>
As he hobbled away with a <u><%=@starwar.verb_4%></u> of his ears,<br>
He gave a nod to the fans as they called out with cheer!</p>

<p>"Thank you, St. Yoda! You're the best Jedi we know!"<br>
He smiled and returned to his <u><%=@starwar.vehicle_3%></u> to go.<br>
But I heard him exclaim, as he drove out of sight,<br>
"A Merry Christmas, you have." and "<u><%=@starwar.quote_1%></u>"</p>

<br>

<% if @starwar.user_id == session[:user_id] %>
    <form method="GET" action="/starwars/<%=@starwar.id%>/edit">     
        <input type="submit" value="EDIT '<%= @starwar.title%>'">
    </form> 
<br>
    <form method="POST" action="/starwars/<%=@starwar.id%>">
        <input type="hidden" name="_method" value ="DELETE">
        <input type="submit" value="DELETE '<%= @starwar.title%>'">
    </form>
<% end %>
<br><br><a href="/users">Your Profile Page</a> || <a href="/starwars">See ALL Star Wars stories</a> || <a href="/logout">Log out of your account</a>